DATABASE_URL="postgresql://user:password@localhost:5432/reelslab?schema=public"
BUNNY_CDN_HOSTNAME="your-pull-zone.b-cdn.net"
BUNNY_CDN_TOKEN_KEY="your-security-key"
PORT=3001
BUNNY_STORAGE_ZONE=your-storage-zone
BUNNY_STORAGE_API_KEY=your-storage-api-key
